*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: "poppins" sans-serif;
}

a{
    text-decoration: none;
}
/*header section */
header{
    width: 1140px;
    max-width: 80%;
    margin: auto;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
}

header nav a{
    color: #eee;
    margin-right: 5px;
    padding: 5px 10px;
    font-family: "poppins" sans-serif;
    font-size: 12px;
    transition: 0.2s;
    font-weight: 500;
}

header nav a.active, header nav a.active:hover{
    background: #14ff72cb;
    border-radius: 2px;
}

/*slider section */

.slider{
    width: 100vw;
    height: 100vw;
    overflow: hidden;
    position: relative;
    margin-top: -50px;
    
}
 .slider .list .item {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
 }

.slider .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .list .item .content{
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
}

.slider .list .item .content .title,
.slider .list .item .content .type {
    font-size: 5em;
    font-weight: bold;
    line-height: 1.3em;
}
.slider .list .item .content .type{
    color: #14ff72cb;
}

.slider .list .item .content .description{
    font-size: 14px;
}

.slider .list .item .content .button button{
    border: none;
    background-color: #eee;
    padding: 7px 15px;
    font-family: "poppins", sans-serif;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 2px;
    transition: 0.4s;
}

.slider .list .item .content .button button:hover{
    background-color: #14ff72cb;
    color: #eee;
}
